body {
	font-family: "Gilroy Regular";
}

/* ! Начало */
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1160px;
	padding: 0 20px;
}

/* ! header */
/* ! header left */
.header {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	background: url(../img/bgc.webp) center no-repeat;
	background-size: cover;
}

/* .header__content {} */
.header__list {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 25px 0;
}

@media (max-width: 1020px) {
	.header__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.nav__list ul {
	display: flex;
	align-items: center;
	padding-left: 0;
}

.nav__link {
	margin: 0 20px;

	list-style: none;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: white;

	cursor: pointer;
}

/* ! header logo */
@media (max-width: 1020px) {
	.nav__logo {
		margin: 20px 0;
	}
}

/* ! header right */
.button__lists {
	display: flex;
	align-items: center;
}

.button__search {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.button__auth {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.button__auth a {
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;

	color: white;

	cursor: pointer;
}

.button__auth span {
	color: white;

	cursor: default;
}

.button__profile {
	display: flex;
	align-items: center;
	margin: 0 20px;
}

.reset__button {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: 0;
}

.header__input {
	width: 45px;
	background-color: transparent;
	border: 0;
}

.header__input::placeholder {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;

	color: white;
}

.nav__icon {
	transition: 0.5s;

	cursor: pointer;
}

.nav__icon:hover {
	transform: scale(1.3);
}

/* ! бургер */
.sandwich {
	margin-left: 10px;
	cursor: pointer;
}

.sandwich span {
	width: 15px;
	height: 2px;
	background-color: white;
	display: block;
	margin-bottom: 3px;
	position: relative;
	transition: .4s;
}

.sandwich:hover span:last-child {
	opacity: 0;
}

.sandwich:hover span:first-child {
	transform: rotate(45deg);
	top: 5px;
}

.sandwich:hover span:nth-child(2) {
	transform: rotate(-45deg);
}

.top__menu {
	background-color: rgba(203, 201, 206, 0.781);
	padding: 30px;
	border: 1px solid white;
	display: none;
	position: absolute;

	top: 100px;
	right: 390px;
}

.top__menu a {
	color: white;
	text-decoration: none;
}

.sandwich:hover~.top__menu {
	display: block;
}

/* ! 1. section */
.block__one {
	margin-top: auto;
}

.header__sup__title {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.header__title {
	font-family: "Noto Serif Bold";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;

	color: #ffffff;
}

.header__button {
	margin: 50px 0px 77px 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #ffffff;

	background: #333333;
	border: 1px solid white;
	padding: 15px 35px;
	cursor: pointer;
	transition: 1s;
}

.header__button:hover {
	background: #141414;
}

.brand__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.brand__card {
	position: relative;
	margin: 30px 0;
}

.line::after {
	content: "";
	position: absolute;
	left: -15px;
	top: 0;
	height: 60px;
	border: 1px solid white;
	cursor: default;
}

@media (max-width: 1170px) {
	.header__sup__title {
		margin-bottom: 20%;
	}

	.brand__cards {
		display: none;
	}
}


/* ! main */
/* ! 2. section */
.block__two {
	background: #f9f9f9;
	position: relative;
	z-index: 1;
}

.block__two__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	/* min-height: 100vh; */
	/* height: 1050px; */
}

.block__two__titles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block__two__title__1 {
	margin-top: 100px;
	margin-bottom: 10px;

	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;

	color: #333333;
}

.block__two__title__2 {
	font-family: "Noto Serif Bold", serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;

	color: #333333;
}

.block__two__buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 57px 0 57px 0;
}

.block__two__button {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	width: 165px;
	height: 55px;
	background: #f9f9f9;
	border: 1px solid #d6d6d6;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	cursor: pointer;
	transition: 0.7s;
}

.block__two__button:hover {
	background: #333333;
	color: white;
}

.block__two__button::after {
	content: "";
	position: absolute;

	left: 5px;
	top: 5px;
	background-color: #f9f9f9;
	border: 1px solid #d6d6d6;
	width: 165px;
	height: 55px;

	z-index: -1;
}

.block__two_cards {
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.block__two__card {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 15px 0px;
	width: 350px;
	height: 280px;

	cursor: pointer;
}

.block__two__card p {
	margin-bottom: 30px;

	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #ffffff;
}

.block__two__pic1 {
	background: url(../img/cards/1.webp);
}

.block__two__pic2 {
	background: url(../img/cards/2.webp);
}

.block__two__pic3 {
	background: url(../img/cards/3.webp);
}

.block__two__pic4 {
	background: url(../img/cards/4.webp);
}

.block__two__pic5 {
	background: url(../img/cards/5.webp);
}

.block__two__pic6 {
	background: url(../img/cards/6.webp);
}

@media (max-width: 1170px) {
	.block__two__buttons {
		display: flex;
		justify-content: center;
	}

	.block__two__button {
		margin: 10px;
	}

	.block__two_cards {
		display: flex;
		justify-content: center;
	}

	.block__two__card {
		margin: 15px;
	}
}

@media(max-width:515px) {
	.block__two__title__1 {
		font-size: 17px;
		margin-top: 50px;
	}

	.block__two__title__2 {
		font-size: 20px;
	}

	.block__two__buttons {
		margin: 27px 0 27px 0;
	}

	.block__two_cards {
		margin-bottom: 50px;
	}
}

@media (max-width: 420px) {
	.block__two__button {
		font-size: 16px;
		width: 140px;
		height: 40px;
		margin: 8px;
	}

	.block__two__button::after {
		width: 140px;
		height: 40px;
	}
}

/* ! 3. section */
.block__three {
	background: url(../img/bg3.webp);
	color: white;
}

.block__three__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 100px 0px;
}

.block__three__title__1 {
	margin-bottom: 10px;

	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;
}

.block__three__title__2 {
	font-family: "Noto Serif Bold";
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}

.block__three__text {
	margin: 50px 0 65px 0;
	max-width: 725px;
}

.block__three__text p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
}

.block__three__button button {
	padding: 15px 35px;

	background: #ffffff;
	border: 1px solid #333333;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #333333;

	cursor: pointer;
	transition: 0.7s;
}

.block__three__button button:hover {
	background-color: #333333;
	color: white;
}

@media(max-width:515px) {
	.block__three__content {
		padding: 50px 0px;
	}

	.block__three__title__1 {
		font-size: 17px;
	}

	.block__three__title__2 {
		font-size: 20px;
	}

	.block__three__text {
		margin: 30px 0 35px 0;
	}

	.block__three__text p {
		font-size: 16px;
	}
}

/* ! 4. section */
.block__four {
	background: #f9f9f9;
	color: #333333;
}

.block__four__content {
	text-align: center;
	padding: 120px 0;
}

/* .block__four__titles {} */

.block__four__title__1 {
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;

	margin-bottom: 15px;
}

.block__four__title__2 {
	font-family: "Noto Serif Bold";
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}

.block__four__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 65px 0 65px 0;
}

.block__four__card {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 350px;
	height: 370px;

	cursor: pointer;
}

.block__four__card p {
	margin-bottom: 37px;

	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;

	color: #ffffff;
}

.block__four__pic1 {
	position: relative;
	background: url(../img/cards/7.webp);
}

.block__four__pic2 {
	position: relative;
	background: url(../img/cards/8.webp);
}

.block__four__pic3 {
	position: relative;
	background: url(../img/cards/9.webp);
}

/* .block__four__pic1::after {
	content: "Как выбрать часы для своей будущей жены";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 250px;
	width: 160px;

	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;

	text-align: center;

	color: white;
}

.block__four__pic2::after {
	content: "Запонки для мужа:";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 250px;
	width: 210px;

	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;

	text-align: center;

	color: white;
}

.block__four__pic2::before {
	content: "7 ключевых правил покупки аксессуара";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 280px;
	width: 210px;

	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;

	text-align: center;

	color: white;
}

.block__four__pic3::after {
	content: "Как выбрать обручальные кольца молодоженам";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 250px;
	width: 220px;

	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;

	text-align: center;

	color: white;
} */

.block__four__button button {
	padding: 15px 35px;

	background: #333333;
	border: 1px solid #ffffff;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #ffffff;

	cursor: pointer;

	transition: 0.7s;
}

.block__four__button button:hover {
	background: #ffffff;
	border: 1px solid #333333;
	color: black;
}

@media (max-width: 1170px) {
	.block__four__cards {
		display: flex;
		justify-content: center;
	}

	.block__four__card {
		margin: 15px;
	}
}

@media(max-width: 515px) {
	.block__four__content {
		padding: 50px 0;

	}

	.block__four__title__1 {
		font-size: 17px;
	}

	.block__four__title__2 {
		font-size: 20px;
	}

	.block__four__cards {
		margin: 35px 0 35px 0;
	}
}

/* ! 5. section */
.block__five {
	background: #f9f9f9;
}

.block__five__content {
	text-align: center;
	padding-bottom: 150px;
}

/* .block__five__titles {} */

.block__five__title__1 {
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;

	color: #333333;
}

.block__five__title__2 {
	margin: 15px 0 60px 0;

	font-family: "Noto Serif Bold";
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;

	color: #333333;
}

.block__five__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.block__five__card {
	width: 278px;
	height: 300px;

	cursor: pointer;
}

.block__five__pic1 {
	background: url(../img/last-cards/1.webp) no-repeat;
	background-size: cover;
	width: 555px;
	height: 300px;
}

.block__five__pic2 {
	background: url(../img/last-cards/2.webp) no-repeat;
	background-size: cover;
}

.block__five__pic3 {
	background: url(../img/last-cards/3.webp) no-repeat;
	background-size: cover;
}

.block__five__pic4 {
	background: url(../img/last-cards/4.webp) no-repeat;
	background-size: cover;
}

.block__five__pic5 {
	background: url(../img/last-cards/5.webp) no-repeat;
	background-size: cover;
}

.block__five__pic6 {
	background: url(../img/last-cards/6.webp) no-repeat;
	background-size: cover;
	width: 555px;
	height: 300px;
}

@media(max-width:515px) {
	.block__five__title__2 {
		margin: 15px 0 25px 0;
		font-size: 20px;
	}
}

/* ! 6. section */
.block__six {
	position: relative;
	z-index: 1;
	background: url(../img/bg3.webp);
	color: white;
}

.block__six__container {
	margin: 0 auto;
	max-width: 810px;
	padding: 0 20px;
}

.block__six__content {
	padding: 107px 0;
}

.block__six__titles {
	text-align: center;
}

.block__six__title__1 {
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 140%;
}

.block__six__title__2 {
	margin: 15px 0 57px 0;

	font-family: "Noto Serif Bold";
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}

.block__six__sub__titles {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.block__six__nav__list ul {
	display: flex;
	flex-direction: column;
	padding-left: 0;
}

.block__six__nav__link {
	margin: 8px 0;
	padding-left: 37px;

	background: url(../img/icons/subscribe__icon.png) left no-repeat;

	list-style: none;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	text-decoration: none;

	color: white;
}

/* ! sms */
.block__six__sms {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border: 1px solid #FFFFFF;
}

.block__six__bgc {
	padding: 20px 22px;
	background: #FFFFFF;
}

.block__six__input {
	width: 200px;
	height: 45px;
	background: #ffffff;
	border: 1px solid #d6d6d6;

	text-align: center;
}

.block__six__input::placeholder {
	padding-right: 50px;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: rgba(51, 51, 51, 0.5);
}

.block__six__button {
	margin-left: 12px;
	padding: 14.5px 35px;

	background: #333333;
	border: 1px solid #333333;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #ffffff;

	cursor: pointer;

	transition: 0.7s;
}

.block__six__button:hover {
	background: #ffffff;
	color: black;
}

@media(max-width:515px) {
	.block__six__content {
		padding: 50px 0;
	}

	.block__six__title__1 {
		font-size: 17px;
	}

	.block__six__title__2 {
		margin: 15px 0 15px 0;
		font-size: 20px;
	}

	.block__six__sms {
		margin-top: 20px;
		padding: 10px;
	}

	.block__six__bgc {
		padding: 15px 17px;
	}

	.block__six__input {
		width: 120px;
		height: 35px;
	}

	.block__six__input::placeholder {
		padding-right: 20px;

		font-size: 12px;
	}

	.block__six__button {
		margin-left: 12px;
		padding: 9px 18px;

		font-size: 12px;
	}
}

/* ! 7. section */
/* ! footer */
.footer {
	margin-top: auto;
	background-color: #f9f9f9;
}

.footer__content {
	padding-top: 85px;
}

.footer__boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer__box {
	display: flex;
	flex-direction: column;
	width: 255px;
}

.footer__box__title {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;

	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #333333;
}

.footer__box__text {
	margin: 7px 0;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	text-decoration: none;

	color: #333333;
}

.footer__box__text__underline:hover {
	text-decoration: underline;
	color: #000000;
}

.footer__pay {
	margin: 15px 0;
	display: flex;
	align-items: center;
}

.footer__pay__link {
	margin-right: 15px;

	transition: 0.7s;
}

.footer__pay__link:hover {
	transform: scale(1.1);
}

.footer__call__icon__1 {
	padding-left: 37px;
	background: url(../img/icons/phone.webp) left no-repeat;
	transition: 0.7s;
}

.footer__call__icon__1:hover {
	transform: scale(1.05);
}

.footer__call__icon__2 {
	padding-left: 37px;
	background: url(../img/icons/sms.webp) left no-repeat;
	transition: 0.7s;
}

.footer__call__icon__2:hover {
	transform: scale(1.05);
}

.footer__contact {
	display: flex;
	align-items: center;
}

.footer__contact__link {
	margin-top: 10px;
	margin-right: 25px;

	transition: 0.7s;
}

.footer__contact__link:hover {
	transform: scale(1.3);
}

.footer__hr {
	margin-top: 10px;
	margin-bottom: 25px;
}

.footer__down {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer__down__box__text {
	margin: 18px 0px;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;

	color: #333333;
}

@media(max-width: 1170px) {
	.footer__content {
		padding-top: 40px;
	}

	.footer__boxes {
		display: flex;
		justify-content: center;
	}

	.footer__box {
		margin: 10px;
	}
}

@media(max-width: 650px) {
	.footer__hr {
		margin-bottom: 5px;
	}

	.footer__down {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.footer__down__box__text {
		margin: 12px 0;
	}
}

@media(max-width: 599px) {
	.footer__box {
		margin: 10px 0;
	}
}

@media(max-width: 560px) {
	.footer__box {
		width: 100%;
	}
}